.button {
  --bg-color: var(--button-primary);
  --hover-color: var(--button-primary-hover);
  --active-color: var(--button-primary-active);
  --color-text: var(--button-text-color);
  --border-color: var(--primary);
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 18px;
  color: var(--color-text);
  background: var(--bg-color);
  cursor: pointer;
}

.button:hover {
  background: var(--hover-color);
}

.button:active {
  background: var(--active-color);
}

.secondary {
  --bg-color: var(--button-secondary);
  --hover-color: var(--button-secondary-hover);
  --active-color: var(--button-secondary-active);
  --border-color: var(--secondary);
}

.outlined {
  --bg-color: var(--white);
  --hover-color: var(--white);
  --active-color: var(--white);
  --color-text: var(--primary);
  border: 1px solid var(--border-color);
}

.text {
  --bg-color: var(--white);
  --hover-color: var(--white);
  --active-color: var(--white);
  --color-text: var(--primary);
}
.secondary {
  --color-text: var(--secondary);
}
.contained {
  --color-text: var(--white);
}
