:root {
  /*White and black*/
  --white: #fff;
  --black: #000;
  --black-800: #0000001F;

  /*Cyan colors */
  --cyan-100: #c4f1f9;
  --cyan-200: #9decf9;
  --cyan-300: #76e4f7;
  --cyan-400: #0bc5ea;
  --cyan-500: #00b5d8;
  --cyan-600: #00a3c4;
  --cyan-700: #0987a0;
  --cyan-800: #086f83;
  --cyan-900: #065666;

  /*Violent colors */
  --violent-900: #694ED6;

  /*Button colors */
  --button-accent-1: var(--cyan-700);
  --button-accent-1-hover: var(--cyan-800);
  --button-accent-1-active: var(--cyan-900);
  --button-text-color: var(--white);

  /*Input colors */
  --input-border-color: var(--black-800); 
  
  /*Ð¡ursor colors */
  --input-cursor-color: var(--violent-900);
}
